<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/namelessscore.css') }}">
    <style>
    </style>
</head>
<body>
    <p id="scoreboard_id" style="display: none;">{{ scoreboard_id }}</p>
    <div id="scoreboard">
        <div id="player2" class="player">
            <div id="player2scoreset1" class="player2score">
                <p></p>
            </div>
            <div id="player2scoreset2" class="player2score">
                <p></p>
            </div>
            <div id="player2scoreset3" class="player2score">
                <p></p>
            </div>
        </div>
        <div id="player1" class="player">
            <div id="player1scoreset1" class="player1score">
                <p></p>
            </div>
            <div id="player1scoreset2" class="player1score">
                <p></p>
            </div>
            <div id="player1scoreset3" class="player1score">
                <p></p>
            </div>
        </div>
    </div>
    
    <div class="last-point">
        <p></p>
    </div>

    <script src="{{ url_for('static', filename='js/namelessscore.js') }}"></script>
</body>
</html>
